/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-image: url('img/Group\ 50.jpg');
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  background: rgba(255, 255, 255, 0.9);
  
}

:root {
  --clr-primary: #ffffff;
  --clr-secondary: #000000;
  --clr-lower-card: #EDA226;

  --ff-navbar: "Roboto";
  --ff-card: "Rockwell";
  --ff-secondary: "Work Sans";
  --ff-lower-card: "Red Hat Display";
}

/* Navbar */

nav {
  padding: 0.75em;
}

nav > ul {margin: 0;}

nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  
  /* identical to box height */
  align-items: center;
  text-align: center;

  color: var(--clr-secondary);
  font-family: var(--ff-navbar);

  
}

nav a {
  display: inline-block;
  color: var(--clr-secondary);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-secondary);
  
}

.nav__list-item {
  padding-left: 2.5em;
  align-items: center;
}

/* Cards */

/* Upper Card */

.upper-cards {
  position: absolute;
  left: 480.5px;
  top: -20px;
  align-items: center;  
}

.card1 {
  position: absolute;
  width: 670.57px;
  height: 491.66px;
  left: 774.28px;
  top: -19.52px;
  
  background: #272838;
  opacity: 0.8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.card2 {
  position: absolute;
  width: 670.57px;
  height: 491.66px;
  left: 737.75px;
  top: 32.49px;
  
  background: #272838;
  opacity: 0.8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.card-texts {
  padding-left: 2.5em;
  padding-top: 2em;
}

.card-title {
  width: 619.7px;
  height: 174.2px;
  font-family: var(--ff-card);
  font-size: 144px;
  text-align: center;
  color: #fcfcfc;
}

.card-message {
  width: 615.7px;
  font-family: var(--ff-card);
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: var(--clr-primary);
}

.card-message span {
  color: #eda225;
}

.card-title span {
  color: #eda225;
}


.till {
  text-align: center;
  margin-right: 3em;
  margin-top: 0.750em;

  font-family: var(--ff-secondary);
  font-weight: 100;
  text-transform: uppercase;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;

  color: var(--clr-primary);
}

/* Lower Card */

.lower-cards {
  position: absolute;
  width: 743.5px;
  height: 484.51px;
  top: 529.31px;
  left: -46.5em;
}

.card3 {
  position: absolute;
  width: 670.57px;
  height: 491.66px;
  left: 774.28px;
  top: -19.52px;
  
  background: #272838;
  opacity: 0.8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.card4 {
  position: absolute;
  width: 670.57px;
  height: 491.66px;
  left: 737.75px;
  top: 32.49px;
  
  background: #272838;
  opacity: 0.8;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/* Button */

.apply-button {
  border-radius: 53px;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 4px;
  border-image-slice: 0;
  border-image-source: linear-gradient(to top, #0270bb, #c6e357, rgba(255, 153, 0, 0.9));
  background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(to top, #0270bb, #c6e357, rgba(255, 153, 0, 0.9));
  background-origin: border-box;
  background-clip: content-box, border-box;

  margin-left: 8em;
  margin-top: 3em;
}

.apply-button-text {
  width: 319.74px;
  
  font-family: Work Sans;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  
  color: #272838;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.due-date {
  padding-top: 0.5em;
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  text-transform: uppercase;

  font-family: var(--ff-lower-card);
  color: var(--clr-primary)
}

.date {
  padding-bottom: 0.5em;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.045em;
  
  font-family: var(--ff-navbar);
  color: var(--clr-lower-card);
}

.where-to-do {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  
  color: var(--clr-primary);
  font-family: var(--ff-lower-card);
}

.where {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  
  color: var(--clr-lower-card);
  font-family: var(--ff-lower-card);

}